# C++
**/.vs

# Deep Learning
Deep Learning/env_deep_learning
Deep Learning/TP8/Cats_Dogs_photos.npy

# Python
Python/env_python

# MNS
Methodes numeriques et simulation/env_MNS

# Machine Learning 2
Machine_Learning_2/env_ML2

# BDD
BDD/TP_Sparql/apache_jena_fuseki_3.9.0
